*{
    margin: 0%;
    padding: 0%;
    border-radius: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f4f7f6;
    color:#333;
    line-height: 1.7;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5%;
    align-items: center;
    background: rgb(128, 0, 0);
    color: white;
    position: sticky;
    top:0;
    z-index: 1000;
    right: 10%
}
.navlinks{
    display: flex;
    list-style:none;
}
.navlinks li{
    margin-left: 20px;

}
.navlinks a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.navlinks a:hover{
   color:red  
}
.hero{
    height: 60vh;
    top:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:url(ganesh.jpg/971.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: image-set();
    background-attachment: scroll;
    color: yellow;
    padding: 15%;

}
.hi{
    color:white;
}
.hero-content{
    top: 2rem;

}
.btn{
    color: rgb(121, 14, 14);
    background: #db3477;
    text-decoration: none;
    border-radius: 5px;
}
.hero h1{
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 2rem;

}
.btn:hover{
    transform: scale(1.25);
    background:black;
}
.projects-section{
    padding: 50px 5px;
    text-align: center;
    justify-content: center;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.card{
    background: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow:brown;
}
.card-image{
    height:150px;
    background: #ddd;
    margin-bottom: 15px;
    border-radius:4px ;
}

@media (max-width:760px){
    .navbar{
        flex-direction: column;
    }
}
.navlinks{
    margin-top: 15px;
}
.mom{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.ss :hover{
   cursor: pointer;
   width: 5rem;
   padding: auto;
   background-color: green;
}
.ss{
    text-align: center;
}
.navlinks :hover{
    cursor: pointer;
}
.navbar :hover{
    cursor: pointer;
}
.logo{
    font-size:x-large;
}
#Contacts{
    scroll-margin-top: 70px;
}
#Projects{
    scroll-margin-top: 70px;
    
}

